extends ../layout

block main
  h1= title
  form.form-inline(method='POST' action='')
    button.btn.btn-primary.mb-2(type='submit') Clear Sessions
  ul
  each session in session_list
    li
      |   User: #{session.user.name}
      br
      |   Start Time: #{session.createdAt.toLocaleString()}
      br
      each view in session.views
        |   -> #{view.item.name}

  else
    li There are no sessions.