extends layout

block aside-pre
  p | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni illum eum earum maxime, pariatur natus porro vero culpa eaque assumenda nisi delectus, quia, id alias!


block main
  h1= title
  p Welcome to #{title}
