extends ../layout

block main
  table#cart.table.table-hover.table-sm
    thead
      tr
        th(style='width:50%') Product
        th(style='width:12%') Price
        th(style='width:11%') Quantity
        th.text-center(style='width:27%') Subtotal
    tbody
      each element in user_cart
        tr
          include cart_partial.pug
      include cart_coupon_display.pug
      tfoot
        tr
          td
          td
          td
          td.text-center
            strong Total #{cart_total}          
              
