h2 {
	margin-top: 20px;
	font-size: 20px;
	color:darkblue;
}

.css-link-unstyled,
.css-link-unstyled:link,
.css-link-unstyled:hover {
	color: inherit;
	text-decoration: inherit;
}

.css-jumbotron-adjustment {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	max-width: 700px;
}

.css-small-text {
	font-size: small;
}

.css-large-text {
	font-size: x-large;
}

.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
  
.card-img-caption .card-img-top {
  z-index: 0;
}
    
.card-img-caption .card-text {
  text-align: center;
  width: 100%;
  margin: 33% 0;
  position: absolute;
  z-index: 1;
}