.header-style {
    height: 80px;
    background-color: yellow;
}

.content-row-style {
    height: 600px;
}

.footer-style {
    height: 60px;
    background-color: orange;
}

.main-style {
    background-color: cornflowerblue;
}



/*This creates a transition when the asides disappear*/


#js-aside-pre {
	background-color: bisque;
	height: 600px;
}



.col-md-1 {
	/*width: 0;*/
	position: absolute;
	flex-shrink: 1;
	transition: all 400ms ease;
}

.col-md-4 {
	position: absolute;
	flex-grow: 1;
	transition: all 400ms ease;	
}


.col-md-8 {
	/*width: 0;*/

	flex-shrink: 1;
	transition: all 400ms ease;
}


.col-md-12 {
	flex-grow: 1;
	transition: all 400ms ease;	
}

